body {
    background-color: #222222;
    color: #ffffffde;
    font-family: "Roboto", sans-serif;
}

.icon {
    width: 16px;
    rotate: 90deg;
}

ul {
    list-style: none;
    padding-inline-start: 1rem;
}

.folder-element {
    display: flex;
}

#items {
    border-left: 2px dashed #737994;
    margin: 2px;
    margin-left: 4px;
}