body {
    background-color: #222222;
    color: #ffffffde;
    font-family: "Roboto", sans-serif;
    user-select: none;
    min-width: 100vw;
    min-height: 100vh;
}

.icon {
    width: 16px;
}

.rotated {
    rotate: 90deg;
}

.item {
    position: relative;
    left: -15px;
}

ul {
    list-style: none;
    padding-inline-start: 2rem;
}

.folder-element {
    display: flex;
}

#items {
    border-left: 2px dashed #6A6A6A;
    margin: 2px;
    margin-left: 4px;
}