{% for child in children %}
    {% if child.type == "folder" %}
        <li class="folder-item"><img class="icon rotated" src="/static/caret.svg" /><b>{{child.name}}</b></li>
    {% else %}
        <li class="folder-item"><img class="icon" src={{child.icon}} />{{child.name}}</li>
    {% endif %}
    
    {% if child.children|length > 0 %}
    <ul id="items">
        {% with children=child.children %}
            {% include 'data.html' %}
        {% endwith %}
    </ul>
    {% endif %}
{% endfor %}