{% for child in children %}
    {% if child.type == "folder" %}
        <li id="{{child.id}}" class="folder item" draggable="true" ondragstart="dragstartHandler(event)" ondrop="dropHandler(event)" ondragover="dragoverHandler(event)" ondragleave="leavedragHandler(event)"><img id="{{child.id}}" class="icon rotated" src="/static/caret.svg" /><b id="{{child.id}}">{{child.name}}</b></li>
    {% else %}
        <li id="{{child.id}}" class="item" draggable="true" ondragstart="dragstartHandler(event)" ondragover="dragoverHandler(event)"><img id="{{child.id}}" class="icon" src={{child.icon}} />{{child.name}}</li>
    {% endif %}
    
    {% if child.children|length > 0 %}
    <ul id="items">
        {% with children=child.children %}
            {% include 'data.html' %}
        {% endwith %}
    </ul>
    {% endif %}
{% endfor %}
