<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://unpkg.com/htmx.org@1.6.1" integrity="sha384-tvG/2mnCFmGQzYC1Oh3qxQ7CkQ9kMzYjWZSNtrRZygHPDDqottzEJsqS4oUVodhW" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Homepage</title>
</head>
<body hx-ws="connect:/ws" hx-swap="none" ondragend="bodydragEndHandler(event)">
    <div id="bruh" hx-ws="send" hx-trigger="updateTabs" hx-vals="js:{type: 'move', data: getDragData()}"></div>
    <ul id="file-tree">
    </ul>
</body>
<script>

    let dragging = null;
    let draggedTo = null;

    function bodydragEndHandler(ev) {
        ev.preventDefault();
        if (draggedTo == null) {
            draggedTo = -1;
            htmx.trigger(document.getElementById("bruh"), "updateTabs")
        }
    }

    function dragstartHandler(ev) {
        dragging = ev.target.id;
    } 

    function dragoverHandler(ev) {
        ev.preventDefault();
        console.log(ev.target.id);
    }

    function leavedragHandler(ev) {
        ev.preventDefault();
    }

    function dropHandler(ev) {
        ev.preventDefault();
        draggedTo = event.target.id;
        htmx.trigger(document.getElementById("bruh"), "updateTabs")
    }

    function getDragData() {
        const mid = dragging;
        const did = draggedTo;
        dragging = null;
        draggedTo = null;
        return {"moveId": mid, "toId": did}
    }

</script>
</html>